
@{
    ViewData["Title"] = "LoadImportHistory";
}

@model EasyDataAnalyzer.Models.Import.ImportHistoryViewModel
<h2>Історія імпорту</h2>

<div class="row">
    <div class="col-md-12">
        @Html.HiddenFor(m => m.Imports.Count)
        <table id="importHistoryDataTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Файл</th>
                    <th>Кількість записів</th>
                    <th>Кількість помилок</th>
                    <th>Дата імпорту</th>
                    <th>Параметри імпорту</th>
                    <th>Дані імпорту</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Imports.Count; i++)
                {
                    <tr>
                        <td><p id=@($"import{i}")>@Model.Imports[i].Id</p></td>
                        <td><p id=@($"fileName{i}")>@Model.Imports[i].FileName</p></td>
                        <td><p id=@($"recordsCount{i}")>@Model.Imports[i].RecordsCount</p></td>
                        <td><p id=@($"errorsCount{i}")>@Model.Imports[i].ErrorsCount</p></td>
                        <td><p id=@($"importDate{i}")>@Model.Imports[i].ImportDate</p></td>
                        <td><button id=@($"loadParams{i}") class="btn btn-info" data-toggle="modal" data-target="#infoModal">Параметри</button></td>
                        <td><button id=@($"loadData{i}") class="btn btn-info" data-toggle="modal" data-target="#infoModal">Дані</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="infoModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="infoModalHeader"></h4>
            </div>
            <div class="modal-body" id="infoModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
            </div>
        </div>

    </div>
</div>

<environment include="Development">
    <script src="~/js/importHistory.js" asp-append-version="true"></script>
</environment>

