
@{
    ViewData["Title"] = "LoadHeaders";
}

@model EasyDataAnalyzer.Models.Import.LoadHeadersViewModel 
<h2>Оберіть параметри значень</h2>
<div class="row">
    <div class="col-md-12">
        @Html.HiddenFor(m => m.TempFilePath)
        @Html.HiddenFor(m => m.Parameters.DataFormat)
        @Html.HiddenFor(m => m.Parameters.NumericSeparator)
        @Html.HiddenFor(m => m.Parameters.EmptyValueIsNull)
        @foreach (var header in Model.Headers)
        {
            <div class="row">
                <div class="col-md-2">@header: </div>
            </div>
            <div class="row">
                <div class="col-md-4">Тип даних: </div>
                <div class="col-md-4">
                    @Html.DropDownList(string.Empty, Model.DataTypes.Select(dt => new SelectListItem { Text = dt.ToString(), Value = dt.ToString() }))
                </div>
                <div class="col-md-4">Пріоритет: </div>
                <div class="col-md-4"></div>
            </div>
        }
    </div>
</div>

